# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Environment / secrets
.env
.env.*
*.pem
*.key

# IDE
.vscode/
.idea/

# Data files (never commit)
*.parquet
*.csv

# Logs
*.log

# ---------------- Airflow ----------------
airflow/logs/
airflow/airflow.db
airflow/**/__pycache__/
airflow/**/*.pyc
airflow/plugins/__pycache__/
